html,

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(14, 110, 123, 0.6), rgb(14, 110, 123) );
  /* background: linear-gradient(to right, #b92b27, #1565c0); */
}

footer {
text-align: right;
margin-right: 5%;
}

.logo {
  height: 3em;
}
.table-tools header input {
  display: none;
}

.formcontainer{
  background-color:rgba(14, 110, 123, 0.5);
  box-shadow:  -3px 0px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 350px;
  margin: auto;
}

.container{
  padding: 50px 0px 20px 0px;
}

.cardlocal {
  box-shadow:  -3px 0px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h3 {
  text-align: center;
}