.formcontainer{
    width: 350px;
    background-color:rgba(0, 18, 32, 0.9);
    margin: 50px auto;
    box-shadow:  -3px 0px 20px 4px rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    overflow: hidden;
    
}

.con{
    width: 70%;
    padding: 10px 40px 15px 10px;
    border-style: solid;
    border-color: rgb(30,83,118);
    border-radius: 5px;
    background:rgba(30,83, 118, 0.5) ;
    outline: none;
    border-width: 2px;
    margin-bottom: 10px;
    transition: 500ms;
    color:rgba(255,255, 255, 0.5);
}
.container{
    padding: 80px 20px 20px 30px;
}

.btn{
    width: 100%;
    padding:10px 40px 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    border-color:  rgb(61, 230, 202);
    border-radius: 5px;
    outline: none;
    margin: 10px 0px 0px 0px;
    background-color: rgb(61, 162, 230);
    
}
.con:focus{
    border-style: solid;
    border-color: rgb(61,230,175);
    border-radius: 5px;
    background:rgba(30,83, 118, 0.5) ;
    outline: none;
    border-width: 2px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: rgb(30,83,118);
    color:rgba(255,255, 255, 0.5);
    border-color: rgb(30,83,118);
}


.logo {
    height: 5rem;
}


.h2 {
    font-family: monospace;
}
